@import "variables";

.contact-section {
  overflow: hidden;
  padding: 13px 0 68px 0;
  @media (min-width: 768px) {
    padding: 20px 0 35px 0;
  }
  @media (min-width: 1000px) {
    padding: 50px 0 20px 0;
  }

  &__single-wrapper-title {
    text-transform: uppercase;
    font-weight: 300;
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300 !important;
    font-size: 18px;
    text-transform: uppercase;
    color: $font-color;
    @media (min-width: 768px) {
      font-size: 22px;
    }
    @media (min-width: 1000px) {
      font-size: $title-section-height;
    }
  }

  &__image {
    width: 40px !important;
    margin-right: 10px;
    @media (min-width: 768px) {
      width: 50px !important;
    }
    @media (min-width: 1000px) {
      margin-right: 20px;
      width: auto !important;
    }
  }

  &__separator {
    margin: 9px 0 !important;
    @media (min-width: 768px) {
      margin: 14px 0 !important;
    }
    @media (min-width: 1000px) {
      margin: 47px 0 !important;
    }

    &--last {
      display: none;
      @media (min-width: 1000px) {
        display: block;
        margin-top: 40px !important;
        margin-bottom: 20px !important;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 300;
    color: $font-color;
  }

  &__wrapper-newsletter {
    min-height: 390px;
    display: none;
    justify-content: space-between;

    @media (min-width: 1000px) {
      display: flex;
    }
  }

  &__question-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  &__form {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 1000px) {
      min-height: 350px;
    }
  }

  &__single-wrapper-title-newsletter {
    min-height: 10%;
    text-align: right;
    color: $font-color;
    font-size: 18px;

    &--modifier {
      text-align: center;
    }

    &--right {
      text-align: left;
    }
  }

  &__input {
    width: 100% !important;
    margin: 6px 0;
    padding: 5px 10px;
    text-align: right;

    &--bigger {
      flex-grow: 1;
    }
  }

  &__chekbox-wrapper {
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
    font-weight: 300;
    color: $font-color;
    font-size: 16px;

    p {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__right-checkbox {
    margin-left: 20px;
  }

  .checkbox-property {
    min-height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  &__btn {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.336);
    padding: 20px 35px;
  }

  &__social-media-wrapper {
    width: 15%;
  }

  &__icon-wrapper {
    min-height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__job-wrapper {
    color: $font-color;
  }

  &__keep-on-top {
    display: none;
    margin: 0 auto;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    @media (min-width: 1000px) {
      display: block;
    }

    a {
      color: $font-color;
    }
  }

  &__job-question {
    min-height: 60px;
    display: flex;

    @media (min-width: 1000px) {
      display: none;
    }
  }

  &__job-question-single {
    width: 50%;
    font-weight: 300;
    color: $font-color;

    @media (min-width: 768px) {
      width: 33.33%;
    }
  }

  &__job-question-title {
    margin-bottom: 12px;
    text-transform: uppercase;
  }

  &__job-question-single-text {
    width: 100%;
    @media (min-width: 500px) {
    }
  }

  &__single-wrapper-mobile {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    color: $font-color;
  }

  &__mobile-wrapper {
    min-height: 145px;
    position: relative;
    @media (min-width: 768px) {
      min-height: 155px;
    }
    @media (min-width: 1000px) {
      min-height: 175px;
    }

    .items-mobile {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
    }

    .items-mobile .item-mobile {
      min-height: 130px;
      width: 230px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      transition: all 300ms ease-in-out;
      z-index: -1;
      opacity: 1;
      @media (min-width: 1000px) {
        min-height: 150px;
      }
    }

    .item-mobile.active-mobile {
      opacity: 1;
      z-index: 99;
    }

    .item-mobile.prev-mobile {
      z-index: 2;
      opacity: 0;
      transform: translate(-125%, -50%);
      @media (min-width: 768px) {
        transform: translate(-130%, -50%);
        opacity: 1;
      }
      @media (min-width: 1000px) {
        transform: translate(-200%, -50%);
      }
    }

    .item-mobile.next-mobile {
      z-index: 2;
      opacity: 0;
      transform: translate(25%, -50%);
      @media (min-width: 768px) {
        transform: translate(50%, -50%);
        opacity: 1;
      }
      @media (min-width: 1000px) {
        transform: translate(100%, -50%);
      }
    }

    .items-mobile .button-container-mobile {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 245px;
      z-index: 100;
      @media (min-width: 768px) {
        display: none;
      }
    }

    .button-container-mobile .button-mobile {
      color: $font-color;
      font-size: 50px;
      cursor: pointer;
      position: relative;
      opacity: 0.75;
      transition: all 300ms ease-in-out;
    }

    .button-container-mobile .button-mobile:hover {
      opacity: 1;
    }

    .button-container-mobile .button-mobile:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      min-height: 50px;
      border-radius: 50%;
      z-index: -99;
    }

    .button-container-mobile .button-mobile:nth-child(1) {
      float: left;
    }

    .button-container-mobile .button-mobile:nth-child(2) {
      float: right;
    }
  }
}
