@import "variables";

.footer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 10vh;
  background-color: white;
  @media (min-width: 1000px) {
    min-height: 20vh;
  }

  #wrapper {
    min-height: 10vh;
    width: 100%;
    max-width: 1000px;
    position: relative;
    display: flex;
    align-items: center;
  }

  #carousel {
    display: flex;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    scroll-behavior: smooth;
  }

  #carousel::-webkit-scrollbar {
    height: 0;
  }

  #prevs,
  #nexts {
    display: flex;
    justify-content: center;
    align-content: center;
    color: $primary-color;
    border: none;
    outline: 0;
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    @media (min-width: 1000px) {
      font-size: 90px;
    }
  }

  #prevs {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  #nexts {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  #content {
    display: grid;
    grid-gap: 26px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
  #inerwidth {
    height: 70px;
    width: 180px;
  }
}
