@import "variables";

.header {
  z-index: 30;
  display: flex;
  background-color: $primary-color;
  position: relative;

  &__navigation {
    display: flex;
    height: 32px;
    @media (min-width: 768px) {
      height: $nav-height;
    }
    @media (min-width: 1000px) {
      height: $nav-height;
    }
  }

  &__image {
    width: 130px;
    height: 87px;
    margin-right: 30px;
    margin-left: 60px;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    box-shadow: 4px 8px 26px -18px #000;

    @media (min-width: 768px) {
      margin-left: 0;
      padding: 10px 10px 10px 10px;
      width: 141px;
    }
    @media (min-width: 1000px) {
      width: 255px;
      height: 184px;
      margin-right: 20px;
      padding: 20px 30px 20px 30px;
    }
  }

  &__navigation-list {
    display: none;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
    }
    @media (min-width: 1000px) {
      margin-top: 10px;
    }
  }

  &__link {
    font-size: 12px;
    @media (min-width: 768px) {
      font-size: 16px;
      padding: 5px;
      display: block;
      width: 100%;
      text-align: center;
      text-decoration: none;
      color: $font-color;
      font-weight: 300;
    }
    @media (min-width: 1000px) {
      font-size: 20px;
      padding: 10px 23px;
    }

    &:hover {
      border-radius: 4px;
      color: $font-color;
      background-color: #035b8d;
    }
  }
}

.header__search {
  margin-top: 10px;
  display: none;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  @media (min-width: 1000px) {
    display: flex;
  }

  .header__input {
    display: none;
    padding: 6px;
    border-radius: 4px;
    margin-right: 10px;
    border: none;
    outline: none;
  }

  .header__icon {
    font-size: 30px;
    color: $font-color;
  }
}
