@import "variables";

.industry-section {
  padding: 20px 0 8px 0;
  @media (min-width: 768px) {
    padding: 20px 0 45px 0;
  }
  @media (min-width: 1000px) {
    padding: 50px 0 90px 0;
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $font-color;

    @media (min-width: 1000px) {
      margin-bottom: 40px;
      font-size: $title-section-height;
    }
  }

  &__image {
    margin-right: 15px;
    @media (min-width: 1000px) {
      margin-right: 18px;
    }
  }

  &__separator {
    margin: 24px 0 5px 0 !important;
    @media (min-width: 768px) {
      margin: 16px 0 !important;
    }
    @media (min-width: 1000px) {
      margin: 44px 0 42px 0 !important;
    }
  }
}

.wrapper-image-industry {
  min-height: 200px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    min-height: 300px;
  }
  @media (min-width: 1000px) {
    min-height: 680px;
  }

  &__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    background-color: #fff;
    height: 112px;
    width: 31%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (min-width: 768px) {
      width: 32%;
      height: 90px;
      margin: 0;
    }
    @media (min-width: 1000px) {
      width: 31.8%;
      height: 151px;
    }

    &:hover::before {
      opacity: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      opacity: 0.3;
    }
  }

  &__text {
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 0;
    font-size: 12px;
    line-height: 1.2;
    width: 32%;
    color: $font-color;
    font-weight: 300;
    @media (min-width: 1000px) {
      font-size: 16px;
      padding: 5px 0;
      display: flex;
      min-height: 154px;
    }
  }

  &__title-item {
    text-transform: uppercase;
    color: $font-color;
    font-size: 10px;
    font-weight: 600;
    z-index: 10;
    text-align: center;

    @media (min-width: 1000px) {
      font-size: 20px;
    }
  }

  &__image--1 {
    background-image: url(../assets/industry-1.png);
  }

  &__image--2 {
    background-image: url(../assets/industry-2.png);
  }

  &__image--3 {
    background-image: url(../assets/industry-3.png);
  }

  &__image--4 {
    background-image: url(../assets/industry-4.png);
  }

  &__image--5 {
    background-image: url(../assets/industry-5.png);
  }

  &__image--6 {
    background-image: url(../assets/industry-6.png);
  }

  &__image--7 {
    background-image: url(../assets/industry-3.png);
  }

  &__image--8 {
    background-image: url(../assets/industry-1.png);
  }

  &__image--9 {
    background-image: url(../assets/industry-2.png);
  }
}
