@import "variables";

.news-section {
  padding: 20px 0 0 0;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  @media (min-width: 768px) {
    height: auto;
    padding: 25px 0 140px 0;
  }
  @media (min-width: 1000px) {
    padding: 50px 0 170px 0;
    min-height: 990px;
  }

  &__title-wrapper {
    @media (min-width: 320px) {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $primary-color;
    }

    @media (min-width: 1000px) {
      font-size: $title-section-height;
    }
  }

  &__mobile-text {
    padding: 0 10px;
    font-weight: 500;
    margin: 28px 0;
    text-align: justify;
    color: $primary-color;
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__image {
    @media (min-width: 768px) {
      margin-right: 10px;
    }
    margin-right: 20px;
  }

  &__separator {
    margin: 18px 0 !important;
    @media (min-width: 768px) {
      margin: 16px 0 !important;
    }
    @media (min-width: 1000px) {
      margin: 40px 0 !important;
    }
  }

  .item {
    background-color: #fff !important;
    margin: 0 auto;

    img {
      width: 100%;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    text-align: center;
    padding-top: 20px;
    @media (min-width: 768px) {
      text-align: left;
      padding: 15px 0;
      color: $primary-color;
      line-height: 1.2;
      font-size: 14px;
    }
    @media (min-width: 1000px) {
      padding: 10px 0;
      margin-top: 15px;
    }
  }

  &__news-content-title {
    padding: 10px 0;
    font-size: 16px;
    text-transform: uppercase;
    @media (min-width: 768px) {
      padding: 0 0;
      font-size: 12px;
    }
    @media (min-width: 1000px) {
      padding: 10px 0;
    }
  }

  &__separator-content {
    display: none;
    width: 30% !important;
    @media (min-width: 768px) {
      display: block;
      margin-bottom: 2px !important;
    }
    @media (min-width: 1000px) {
      margin-bottom: 15px !important;
    }
  }

  &__news-content-text {
    font-size: 10px;
    display: none;
    @media (min-width: 1000px) {
      display: block;
      font-size: 12px;
    }
  }

  &__date {
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 12px;
    }
    @media (min-width: 1000px) {
      font-size: 14px;
    }
  }

  &__more {
    display: none;
    @media (min-width: 768px) {
      display: block;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.item-wrapper {
  margin: 0 auto;
  width: 160px;
  @media (min-width: 768px) {
    width: 500px;
  }
  @media (min-width: 1000px) {
    width: 850px;
  }
}

.owl-carousel {
  position: absolute;
  top: 20px;
  display: flex;
  @media (min-width: 768px) {
    top: 65px;
  }
  @media (min-width: 1000px) {
    top: 100px;
  }

  .owl-dots {
    display: none;
  }

  .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 8%;
    right: -66px;
    width: 300px;
    @media (min-width: 768px) {
      width: 600px;
      right: -53px;
      top: 30%;
    }
    @media (min-width: 1000px) {
      right: -80px;
      width: 1010px;
      top: 31%;
    }

    button {
      span {
        background: white;
        color: $primary-color;
        font-size: 70px;
        font-weight: 600;
        @media (min-width: 768px) {
          font-size: 60px;
          font-weight: 600;
        }
        @media (min-width: 1000px) {
          font-size: 90px;
        }
      }
    }
  }

  .owl-next:focus,
  .owl-prev:focus {
    outline: none;
  }
}
