@import "variables";

.product-section {
  padding: 18px 0 17px 0;
  @media (min-width: 768px) {
    padding: 20px 0 56px 0;
  }
  @media (min-width: 1000px) {
    padding: 40px 0 135px 0;
  }

  &__title-wrapper {
    font-size: 16px;
    @media (min-width: 320px) {
      letter-spacing: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      text-transform: uppercase;
    }
    @media (min-width: 1000px) {
      font-size: $title-section-height;
    }
  }

  &__image {
    margin-right: 10px;
    @media (min-width: 700px) {
      width: 30px !important;
    }
    @media (min-width: 1000px) {
      margin-right: 18px;
      width: auto !important;
    }
  }

  &__separator {
    margin: 15px 0 !important;
    @media (min-width: 768px) {
      margin: 25px 0 15px 0 !important;
    }
    @media (min-width: 1000px) {
      margin: 60px 0 !important;
    }
  }

  &__articele-wrapper {
    @media (min-width: 320px) {
      display: none;
      justify-content: space-between;
    }
    @media (min-width: 1000px) {
      display: flex;
    }
  }

  &__article {
    @media (min-width: 768px) {
      width: 48%;
      color: $primary-color;
      line-height: 1.2;
      font-size: 12px;
      text-align: justify;
    }
    @media (min-width: 1000px) {
      font-size: 20px;
    }
  }

  &__simple-prodact-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    flex-direction: column;

    @media (min-width: 768px) {
      padding: 35px 0;
      flex-direction: row;
    }
    @media (min-width: 1000px) {
      min-height: 60vh;
      padding: 40px 0 0 0;
    }
  }

  &__item-wrapper {
    display: flex;
    @media (min-width: 320px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px;
    }
    @media (min-width: 768px) {
      padding: 12px;
    }
    @media (min-width: 1000px) {
      min-height: 30%;
      margin-top: 20px;
    }
  }

  &__item {
    width: auto;
    @media (min-width: 768px) {
      box-shadow: 1px 1px 1px 1px black, -2px -2px 1px 1px black;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 90px;
      width: 90px;
      border-radius: 100%;
      background-color: $primary-color;
    }
    @media (min-width: 1000px) {
      min-height: 160px;
      width: 160px;
    }
  }

  &__item-text {
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    font-size: 17px;
    font-weight: 400;

    @media (min-width: 768px) {
      font-weight: 300;
      color: $font-color;
      font-size: 12px;
    }
  }
}
