@import "variables";

.services-section {
  padding: 20px 0 0 0;
  @media (min-width: 768px) {
    padding: 25px 0 60px 0;
  }
  @media (min-width: 1000px) {
    padding: 50px 0 73px 0;
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $font-color;
    @media (min-width: 1000px) {
      font-size: $title-section-height;
    }
  }

  &__image {
    margin-right: 10px;
    @media (min-width: 700px) {
      width: 40px !important;
    }
    @media (min-width: 1000px) {
      margin-right: 20px;
      width: auto !important;
    }
  }

  &__separator {
    margin: 16px 0 0 0 !important;
    @media (min-width: 768px) {
      margin: 20px 0 31px 0 !important;
    }
    @media (min-width: 1000px) {
      margin: 47px 0 30px !important;
    }
  }

  &__services-wrapper-list {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 395px;
    justify-content: space-around;
    @media (min-width: 768px) {
      flex-direction: row;
      min-height: 270px;
      height: 270px;
      padding-left: 20px;
      padding-bottom: 0;
    }
    @media (min-width: 1000px) {
      padding: 0 50px 0 50px;
      height: 370px;
      min-height: 370px;
    }
  }

  &__items-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40%;
    width: 100%;
    @media (min-width: 768px) {
      height: 100%;
      align-items: center;
    }

    &--modifier {
      flex-grow: 0;
      height: 20%;
      justify-content: center;
      width: 100%;
      @media (min-width: 768px) {
        width: 20%;
      }
      @media (min-width: 1000px) {
        padding-bottom: 30px;
        width: 100%;
      }
    }
  }

  &__single-item {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      margin: 0 0;
      flex-direction: row;
    }
    @media (min-width: 1000px) {
      height: 150px;
      padding-top: 20px;
      flex-direction: column;
      justify-content: center;
    }

    img {
      width: 22px;
      height: auto;
      @media (min-width: 768px) {
        width: 48px;
      }
      @media (min-width: 1000px) {
        width: 80px;
        height: auto;
      }
    }
  }

  &__item-text {
    text-align: center;
    text-transform: uppercase;
    color: $font-color;
    font-weight: 300;
    font-size: 16px;
    margin-top: 10px;

    @media (min-width: 768px) {
      margin-left: 20px;
      text-align: left;
      font-size: 12px;
    }
    @media (min-width: 1000px) {
      font-size: 18px;
      margin-top: 20px;
      margin-left: 0;
      text-align: center;
    }
  }

  &__article-wrapper {
    display: none;
    justify-content: space-between;
    @media (min-width: 768px) {
      margin-top: 60px;
    }
    @media (min-width: 1000px) {
      display: flex;
      margin-top: 80px;
    }
  }

  &__article {
    display: none;
    width: 45%;
    line-height: 1.3;
    font-size: 12px;
    text-align: justify;
    color: $font-color;

    @media (min-width: 1000px) {
      width: 48%;
      font-size: 18px;
      display: block;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }
}
