@import "variables";

.side-nav {
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 90px;
  box-shadow: 13px 0 26px -25px #000000;
  position: fixed;
  top: 0;
  color: $secondary-color;
  background-color: #fff;

  @media (min-width: 768px) {
    min-height: 100vh;
    width: 117px;
  }
  @media (min-width: 1000px) {
    width: $side-nav-width;
    min-height: 100vh;
  }

  &__container {
    display: flex;
    align-items: center;
    padding-top: 80px;

    @media (min-width: 768px) {
      padding-top: 110px;
    }
    @media (min-width: 1000px) {
      margin-top: 175px;
      padding-top: 0;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    @media (min-width: 768px) {
      font-size: 14px;
      font-weight: 400;
    }
    @media (min-width: 1000px) {
      font-size: 20px;
    }
    color: $primary-color;

    &--tablet {
      display: none;
    }
  }

  &__link {
    color: $primary-color;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    padding: 3px 0 2px;
    margin: 2px 0;
    @media (min-width: 768px) {
      font-size: 14px;
      width: 100%;
    }
    @media (min-width: 1000px) {
      padding: 4px 0;
      font-size: 20px;
    }

    &:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  &__separator {
    margin: 10px 0 !important;
    width: 50% !important;
    @media (min-width: 1000px) {
      margin: 20px 0 !important;
      width: 80% !important;
    }

    &--margin-top {
      margin: 2px 0 9px 0 !important;
      @media (min-width: 1000px) {
        margin: 20px 0 !important;
      }
    }

    &--tablet {
      display: none;
    }

    &--block {
      display: block;
    }
  }

  &__span {
    z-index: 40;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 7px 5px 0;
    border-color: transparent $secondary-color transparent transparent;
    @media (min-width: 768px) {
      margin-left: 10px;
      border-width: 6px 9px 6px 0;
    }
  }

  &__social-media {
    display: flex;
    flex-direction: row;
    @media (min-width: 768px) {
      margin-top: 15px;
    }
    @media (min-width: 1000px) {
      flex-direction: column;
    }
  }

  &__icon {
    font-size: 20px;
    color: $primary-color;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
}

.side-nav__social-media i:first-of-type {
  margin-bottom: 16px;
}

.side-nav__arrow--open {
  transform: rotateY(180deg) translate(-50%, -50%);
}

.side-nav--closed {
  width: 25px;

  @media (min-width: 768px) {
    width: $side-nav-closed-width;
  }
}

.side-nav__navigation-list-container--closed {
  display: none;
}
