@import "variables";

.carousel-item {
  height: calc(81vh - 32px);
  background: no-repeat scroll center scroll;
  -webkit-background: cover;
  background-size: cover;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.9s ease-in-out;
  @media (min-width: 768px) {
    height: calc(74vh - 80px);
  }
  @media (min-width: 1000px) {
    height: calc(135vh - 80px);
  }

  img {
    height: 100%;
  }

  .container--desktop {
    margin-left: auto !important;
  }
}

.carousel-item::before {
  content: "";
  height: calc(81vh - 32px);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.2;
  @media (min-width: 768px) {
    height: calc(74vh - 80px);
  }
  @media (min-width: 1000px) {
    height: calc(135vh - 80px);
  }
}

.carousel-indicators {
  margin: 0 auto;

  li {
    height: 7px;
    width: 17px;
    opacity: 1;
    @media (min-width: 768px) {
      height: 15px;
      width: 40px;
    }
  }

  .li-wrapper {
    position: absolute;
    bottom: 100px;
    width: 200px;
    display: flex;
  }
}

.active {
  background-color: $primary-color !important;
}

.left-slider-change {
  display: flex;
  width: 300px;
  text-align: right;
  bottom: 35px;
  justify-content: right;

  @media (min-width: 768px) {
    display: none;
  }
  @media (min-width: 1000px) {
    display: flex;
    width: 1000px;
    bottom: 100px;
  }
}

.baner-text {
  line-height: 1.2;
  margin-bottom: 120px;
  margin-left: 150px;
  text-align: left;
  font-size: 50px;
  text-shadow: 1px 1px #000;
  @media (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 120px;
    margin-left: 260px;
  }
  @media (min-width: 1000px) {
    font-size: 50px;
    margin-bottom: 350px;
    margin-left: 350px;
  }

  span {
    display: none;
    text-align: right;
    @media (min-width: 1000px) {
      padding-top: 20px;
      font-size: 25px;
      display: block;
      text-align: right;
    }
  }
}

.wrapper-news__newsletter-baner {
  display: flex;

  @media (min-width: 768px) {
    width: 600px;
    margin: 0 0 0 auto;
  }
  @media (min-width: 1000px) {
    width: 100%;
    margin: 0 auto 20px auto;
  }
}

.newsletter-baner {
  display: flex;
  padding: 5px 10px;
  flex-direction: row;
  width: 100%;
  background: #fff;
  align-items: center;
  justify-content: space-between;

  img {
    @media (min-width: 768px) {
      height: 30px;
    }
    @media (min-width: 1000px) {
      height: auto;
    }
  }

  &__text {
    display: block;
    color: $primary-color;
    letter-spacing: 1px;
    margin: 0 15px;
    @media (min-width: 1000px) {
      font-size: 20px;
      margin: 0 22px;
    }
  }

  &__input {
    flex-grow: 1;
    border: 2px solid #ddd;
    padding: 5px 10px;
  }

  &__btn {
    width: 150px;
    border-color: white;
    background-color: #fff;
    padding: 0 10px;
    font-size: 16px;
    color: $primary-color;
    @media (min-width: 768px) {
      width: 120px;
      margin-left: 10px;
    }
    @media (min-width: 1000px) {
      width: 150px;
      margin-left: 10px;
      font-size: 19px;
    }
  }
}

.carousel-caption {
  margin: 0 auto !important;
  left: 0;
  right: 0;
  padding-bottom: 0;
}

.bd-example {
  height: 100%;
  position: relative;
}

.wrapper-news__newsletter-baner-absolute {
  display: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  bottom: 15px;
  width: 1000px;
  @media (min-width: 768px) {
    display: block;
    width: 600px;
    bottom: 20px;
  }
  @media (min-width: 1000px) {
    width: 1000px;
  }
}
