$desktop-container-width: 1000px;
$primary-color: #023b5b;
$nav-height: 87px;
$secondary-color: #7a9aa9;
$font-color: #fff;
$footer-height: 50px;
$side-nav-width: 213px;
$side-nav-closed-width: 60px;
$title-section-height: 30px;
