@import "reset";
@import "variables";
@import "side-nav";
@import "slider";
@import "industry";
@import "product";
@import "services";
@import "header";
@import "news";
@import "contact";
@import "footer";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=PT+Sans:wght@400;700&family=Roboto:wght@300;700&display=swap");

body {
  font-size: 12px;
  background-color: $primary-color;
  font-family: "Open Sans", sans-serif;
  @media (min-width: 1000px) {
    font-size: 14px;
  }
}

.container-desktop {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 5px;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
    width: 600px;
  }
  @media (min-width: 1000px) {
    width: $desktop-container-width;
    padding-left: 0;
  }

  &--modifier {
    padding-top: 20px;
  }

  &--header {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    width: $desktop-container-width;
    padding-left: 0;
  }
}

.wrapper-bgc {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.separator {
  width: 100%;
  border-bottom: 2px dotted $secondary-color;
  margin: 16px 0;
}

.visibility--visible {
  display: block !important;
}

.title-mobile-img {
  width: 30px;
  @media (min-width: 768px) {
    width: 50px;
  }
  @media (min-width: 1000px) {
    width: auto;
  }
}

.newClass {
  margin-top: 20px !important;
}
